[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
timesketch-api-client = "*"

[dev-packages]
nose = "*"

[requires]
python_version = "3.7"
